<!DOCTYPE html>
<html>
<div>

<h1 align="center">My Deals Map</h1>

<div align="center"><iframe align="center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2070948.2754488355!2d-9.460068878527013!3d52.92925991725781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4859bae45c4027fb%3A0xcf7c1234cedbf408!2sIreland!5e0!3m2!1sen!2sie!4v1512058010531" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div>

    <footer>
        <div id="footer">

            <p><center>&copy; 2017 <a href="#">Best Deals</a>. All Rights Reserved.</center> <br></p>
        </div>

</footer>
</body>
</html>