<div class="jumbotron text-center">

	<h1>{{ message }}</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-5">
<p>
<table>
	<tr>
		<td>
			<p>
				<i>Time for a change</i>
				<p>Save up to 70% off hundreds of things to do near you!.</p>
			<p>Best Deals is an easy way to get huge discounts while discovering fun activities in your city. Our daily local deals consist of restaurants, spas, hotels, massages, shopping vouchers, things to do, and a whole lot more, in hundreds of cities across the world. </p>
		</td>
		<td><img src="./public/images/deals.jpg"></td>
	</tr>
</table>  
</p>
</div></div>
</div>